# Configuración del Servidor Local
PORT=5001

# Cadena de conexión oficial a MongoDB Atlas para el equipo de ComercioTech
MONGO_URI=mongodb+srv://comerciotech_user:comerciotech123@cluster0.kwnz5mx.mongodb.net/comerciotech?appName=Cluster0

